# Node/NPM
coverage/
node_modules/

# Build
build/
dist/

# Dev mods
minecraft/config/tellme.*
minecraft/config/tellme/*
minecraft/config/worldstripper-common.toml

# Client configs
# These are ones we feel the user should be customizing, not us.
minecraft/config/jei/bookmarks.ini
minecraft/config/jei/world/*

# Journeymap
# Configs/etc in journeymap that are not necessary to be version controlled
minecraft/journeymap/data/*
minecraft/journeymap/server/*
minecraft/journeymap/journeymap.log

# Mod Junk
minecraft/config/byg/README.txt
minecraft/config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
minecraft/config/ichunutil/head/*

# Content Creator
minecraft/config/contentcreatorintegration/contentcreatorintegration-common.toml
minecraft/config/contentcreatorintegration/logs/*
