# Configuration file

Wind {
    # Defines probability of wind strength and direction change in percentage. [range: 0.0 ~ 100.0, default: 1.0]
    S:changeProbability=0.0

    # Defines how fast the wind changes. [range: 0.0 ~ 1.0, default: 0.15]
    S:changeStep=0.0

    # Defines maximum wind strength. [range: 0 ~ 30, default: 10]
    I:maxStrength=0

    # Random seed [range: -2147483648 ~ 2147483647, default: -1672787975]
    I:randomSeed=690420
}


