# Configuration file

Biome {
    # Biome registry name [default: ]
    S:name=minecraft:birch_forest
}


Config {
    # If set to False, parameters from this config will not be used. [default: false]
    B:enabled=false
}


carbon {
    # Defines whether wind affects this pollutant or not. [default: true]
    B:affectedByWind=true

    # Only pollutant blocks within this height around concentration altitude will affect the level of pollution in the current chunk.
    # Required for pollutants capture and storage. [range: -64 ~ 319, default: 16]
    I:cloudHeight=16

    # Defines the altitude which pollutant blocks will concentrate at. [range: -65 ~ 320, default: 191]
    I:concentrationAltitude=700

    # Defines the amount of pollution at which all negative effects will be maximized. [range: 0 ~ 8192, default: 512]
    I:criticalAmount=512

    # Defines emission rate for this pollutant. [range: 0.0 ~ 1.0, default: 1.0]
    S:emissionRate=1.0

    # Defines motion velocity of the pollutant. [range: 0.0 ~ 1.0, default: 0.2]
    S:motionVelocity=0.2
}


dust {
    # Defines whether wind affects this pollutant or not. [default: true]
    B:affectedByWind=true

    # Only pollutant blocks within this height around concentration altitude will affect the level of pollution in the current chunk.
    # Required for pollutants capture and storage. [range: -64 ~ 319, default: 16]
    I:cloudHeight=16

    # Defines the altitude which pollutant blocks will concentrate at. [range: -65 ~ 320, default: -65]
    I:concentrationAltitude=-65

    # Defines the amount of pollution at which all negative effects will be maximized. [range: 0 ~ 8192, default: 512]
    I:criticalAmount=512

    # Defines emission rate for this pollutant. [range: 0.0 ~ 1.0, default: 1.0]
    S:emissionRate=1.0

    # Defines motion velocity of the pollutant. [range: 0.0 ~ 1.0, default: 0.1]
    S:motionVelocity=0.1
}


sulfur {
    # Defines whether wind affects this pollutant or not. [default: true]
    B:affectedByWind=true

    # Only pollutant blocks within this height around concentration altitude will affect the level of pollution in the current chunk.
    # Required for pollutants capture and storage. [range: -64 ~ 319, default: 16]
    I:cloudHeight=16

    # Defines the altitude which pollutant blocks will concentrate at. [range: -65 ~ 320, default: 191]
    I:concentrationAltitude=700

    # Defines the amount of pollution at which all negative effects will be maximized. [range: 0 ~ 8192, default: 512]
    I:criticalAmount=512

    # Defines emission rate for this pollutant. [range: 0.0 ~ 1.0, default: 1.0]
    S:emissionRate=1.0

    # Defines motion velocity of the pollutant. [range: 0.0 ~ 1.0, default: 0.15]
    S:motionVelocity=0.15
}


