# Configuration file

general {
    # A list of property overrides, in the form <regname>,<hardness>,<blast resistance>,<requires tool>.  Types are <string>,<float>,<float>,<boolean>.  You can use Z to ignore a value. [default: ]
    S:"Property Overrides" <
    candyworld:crystallized_sugar_cookie_ore,5,Z,true
    candyworld:cookie_ore,1.5,4,true
    candyworld:crystallized_sugar,5,Z,true
    candyworld:dark_brownie_block,5,Z,true
    candyworld:dark_chocolate_block,5,Z,true
    candyworld:dark_chocolate_brick,5,Z,true
    candyworld:green_candy_cane_block,5,Z,true
    candyworld:green_gummy_block,5,Z,true
    candyworld:green_gummy_workbench,5,Z,true
    candyworld:green_gummy_worm_block,5,Z,true
    candyworld:green_hardened_gummy_block,5,Z,true
    candyworld:milk_chocolate_block,5,Z,true
    candyworld:milk_chocolate_brick,5,Z,true
    candyworld:orange_gummy_block,5,Z,true
    candyworld:orange_gummy_workbench,5,Z,true
    candyworld:orange_gummy_worm_block,5,Z,true
    candyworld:orange_hardened_gummy_block,5,Z,true
    candyworld:red_candy_cane_block,5,Z,true
    candyworld:red_green_candy_cane_block,5,Z,true
    candyworld:red_gummy_block,5,Z,true
    candyworld:red_gummy_workbench,5,Z,true
    candyworld:red_gummy_worm_block,5,Z,true
    candyworld:red_hardened_gummy_block,5,Z,true
    candyworld:white_brownie_block,5,Z,true
    candyworld:white_candy_cane_block,5,Z,true
    candyworld:white_chocolate_block,5,Z,true
    candyworld:white_chocolate_brick,5,Z,true
    candyworld:white_green_candy_cane_block,5,Z,true
    candyworld:white_gummy_block,5,Z,true
    candyworld:white_gummy_workbench,5,Z,true
    candyworld:white_gummy_worm_block,5,Z,true
    candyworld:white_hardened_gummy_block,5,Z,true
    candyworld:white_red_candy_cane_block,5,Z,true
    candyworld:yellow_gummy_block,5,Z,true
    candyworld:yellow_gummy_workbench,5,Z,true
    candyworld:yellow_gummy_worm_block,5,Z,true
    candyworld:yellow_hardened_gummy_block,5,Z,true
    geore:coal_cluster,6,Z,true
    geore:copper_cluster,6,Z,true
    geore:emerald_cluster,6,Z,true
    geore:gold_cluster,6,Z,true
    geore:iron_cluster,6,Z,true
    geore:lapis_cluster,6,Z,true
    geore:quartz_cluster,6,Z,true
    geore:redstone_cluster,6,Z,true
    hardcorequesting:item_barrel,0.5,1200,false
    hardcorequesting:quest_tracker,0.5,1200,false
    ironchest:obsidian_chest,50,1200,false
    ironchest:trapped_obsidian_chest,50,1200,false
    minecraft:amethyst_block,6,Z,true
    minecraft:amethyst_cluster,6,Z,true
    minecraft:budding_amethyst,6,Z,true
    minecraft:deepslate,6,Z,true
    minecraft:deepslate_bricks,6,Z,true
    minecraft:cracked_deepslate_bricks,6,Z,true
    rechiseled:cobbled_deepslate_worn_stripes_connecting,6,Z,true
    rechiseled:cobbled_deepslate_worn_stripes,6,Z,true
    rechiseled:cobbled_deepslate_tiles_connecting,6,Z,true
    rechiseled:cobbled_deepslate_tiles,6,Z,true
    rechiseled:cobbled_deepslate_stripes_connecting,6,Z,true
    rechiseled:cobbled_deepslate_stripes,6,Z,true
    rechiseled:cobbled_deepslate_squares_connecting,6,Z,true
    rechiseled:cobbled_deepslate_large_tiles_connecting,6,Z,true
    rechiseled:cobbled_deepslate_paving,6,Z,true
    rechiseled:cobbled_deepslate_paving_connecting,6,Z,true
    rechiseled:cobbled_deepslate_pulverized,6,Z,true
    rechiseled:cobbled_deepslate_pulverized_connecting,6,Z,true
    rechiseled:cobbled_deepslate_rotated_bricks,6,Z,true
    rechiseled:cobbled_deepslate_rotated_bricks_connecting,6,Z,true
    rechiseled:cobbled_deepslate_small_tiles,6,Z,true
    rechiseled:cobbled_deepslate_small_tiles_connecting,6,Z,true
    rechiseled:cobbled_deepslate_squares,6,Z,true
    rechiseled:cobbled_deepslate_bricks_connecting,6,Z,true
    rechiseled:cobbled_deepslate_large_tiles,6,Z,true
    rechiseled:cobbled_deepslate_bricks,6,Z,true
    rechiseled:cobbled_deepslate_beams_connecting,6,Z,true
    rechiseled:cobbled_deepslate_beams,6,Z,true
    thermal:deepslate_nickel_ore,6,Z,true
    create:small_deepslate_bricks,6,Z,true
    create:cut_deepslate_brick_wall,6,Z,true
    create:cut_deepslate_brick_slab,6,Z,true
    create:cut_deepslate_brick_stairs,6,Z,true
    create:cut_deepslate_bricks,6,Z,true
    create:polished_cut_deepslate_wall,6,Z,true
    create:polished_cut_deepslate_slab,6,Z,true
    create:polished_cut_deepslate_stairs,6,Z,true
    create:polished_cut_deepslate,6,Z,true
    create:cut_deepslate_wall,6,Z,true
    create:cut_deepslate_slab,6,Z,true
    create:cut_deepslate_stairs,6,Z,true
    create:cut_deepslate,6,Z,true
    minecraft:deepslate_tile_wall,6,Z,true
    minecraft:deepslate_brick_wall,6,Z,true
    minecraft:polished_deepslate_wall,6,Z,true
    minecraft:cobbled_deepslate_wall,6,Z,true
    minecraft:infested_deepslate,6,Z,true
    minecraft:deepslate_tile_slab,6,Z,true
    minecraft:deepslate_brick_slab,6,Z,true
    minecraft:polished_deepslate_slab,6,Z,true
    minecraft:cobbled_deepslate_slab,6,Z,true
    minecraft:deepslate_tile_stairs,6,Z,true
    minecraft:deepslate_brick_stairs,6,Z,true
    minecraft:polished_deepslate_stairs,6,Z,true
    minecraft:cobbled_deepslate_stairs,6,Z,true
    minecraft:chiseled_deepslate,6,Z,true
    minecraft:cracked_deepslate_tiles,6,Z,true
    minecraft:deepslate_tiles,6,Z,true
    minecraft:polished_deepslate,6,Z,true
    create:veridium,6,Z,true
    create:scoria,6,Z,true
    minecraft:dirt,0.37,Z,false
    minecraft:glowstone,0.3,1200,false
    minecraft:large_amethyst_bud,6,Z,true
    minecraft:medium_amethyst_bud,6,Z,true
    minecraft:netherrack,6,Z,true
    minecraft:basalt,5.5,Z,true
    minecraft:magma_block,5.5,Z,true
    minecraft:nether_gold_ore,5.5,Z,true
    minecraft:podzol,0.37,Z,false
    minecraft:raw_gold_block,8,Z,true
    minecraft:rooted_dirt,0.37,Z,false
    minecraft:small_amethyst_bud,6,Z,true
    minecraft:stone,1.5,4,true
    rechiseled:dirt_muddy,0.37,Z,true
    tconstruct:earth_slime_crystal_cluster,6,Z,true
    tconstruct:ender_slime_crystal_cluster,6,Z,true
    tconstruct:ichor_slime_crystal_cluster,6,Z,true
    turkeydevutil:greed_gold_ore,9,6,true
    turkeydevutil:greed_iron_ore,9,6,true
    turkeydevutil:greed_lapis_ore,9,6,true
    turkeydevutil:greed_oil_ore,9,6,true
    turkeydevutil:greed_randomite_ore,9,6,true
    turkeydevutil:greed_silver_ore,9,6,true
    turkeydevutil:greed_diamond_ore,9,6,true
    turkeydevutil:sugar_copper_ore,6,6,true
    turkeydevutil:sugar_iron_ore,6,6,true
    turkeydevutil:sugar_redstone_ore,6,6,true,
    waystones:portstone,-1,Z,false
     >
}
