# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    carbon {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:strength
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    sulfur {
        # Effects spreading through air.
        S:air <

         >

        # Effects spreading through contact.
        S:contact <
            minecraft:resistance
            minecraft:speed
            minecraft:glowing
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
        minecraft:fire_resistance
        minecraft:glowing 
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

}


